html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* clear */
.clear:before,.clear:after { content:' '; display:table; }
.clear:after { clear:both; }
.clear { *zoom:1;}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box; /* Firefox, other Gecko */
          box-sizing: border-box; /* Opera/IE 8+ */
}
.wrap{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
/* perso */
body{
  background-color: #7FFFD4;
}
/* header */

.wrap{
	max-width: 100%;
	background-color: #333;
}
.top .nav{
	width: 100%;
	display: flex;
}
.nav .logo{
	flex: 1;
	margin-top: 10px;
	margin-left: 10px;
}
.nav .menu {
	display: flex;
	flex:1;
  list-style-type: none;
  margin-left:750px;
	margin-top: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
	font-size: 1.2em;
}

.nav .menu li{
float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
h1{
  margin-top: 30px;
  font-size: 300%;
  text-align: center;
	color: #000;
}


/* formulaire */
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

form input{
  margin: 20px 10px;
  width: 300px;
  height: 50px;
  font-size: 100%;
  border-radius: 10px;
	outline: none;
}
form input::placeholder{
  padding-left: 30px;
}

form input[type="submit"]{
 cursor:pointer;
 background-color: #333;
 color: #fff;
  text-transform: uppercase;
}
form input[type="submit"]:hover{
  background-color: #FFF;
  color: #000;
  border: 5px solid #000;
}


/* connexion */
.error{
  margin-bottom: 10px;
  font-size: 1.3em;
  color: red;
}
.valid{
  margin-top: 30px;
  text-align: center;
  display: inline;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
}
.Bonjour{
  text-align: center;
	padding-bottom: 5px;
  color: #12D0FA;
	font-size: 1.2em;
}

.mdp {
text-align: center;
margin: 0 auto;
}
.mdp a{
	background-color: #333;
	color: white;
	border-radius: 8px;
	padding: 5px 75px;
	cursor:pointer;
	text-decoration: none;
}
.mdp a:hover{
	background-color: #FFF;
	color: #000;
	border: 5px solid #000;
}
.newmdp{
	text-align: center;
	margin:0 auto;
	margin: 15px;
}
.newmdp a{
	background-color: #333;
	color: white;
	border-radius: 8px;
	padding: 5px 75px;
	cursor:pointer;
	text-decoration: none;
}
.newmdp a:hover{
	background-color: #FFF;
	color: #000;
	border: 5px solid #000;
}
.token{
	text-align: center;
	margin:0 auto;
	font-size: 1.3em;
}
.token2{
	text-align: center;
	margin:0 auto;
}
