html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* clear */
.clear:before,.clear:after { content:' '; display:table; }
.clear:after { clear:both; }
.clear { *zoom:1;}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box; /* Firefox, other Gecko */
          box-sizing: border-box; /* Opera/IE 8+ */
}
.wrap{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
/* perso */
::-WebKit-scrollbar{
width: 7px;
height: 7px;
}

::-WebKit-scrollbar-track{
	background-color:silver;
}
::-WebKit-scrollbar-thumb{
	background-color: #DAC625;
	height: 10px;
}
::-WebKit-scrollbar-thumb:hover{
	background-color: #DAA520;
}

::-WebKit-scrollbar-track-piece{
	height: 10px;
}

a{
	text-decoration: none;
}

header{
	background-color: #048ABF;
}
.backgroundheader {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #fff;
}
.presentation {
	text-align : left;
	text-align : center;
	margin-top : 30px ;
	position : absolute;
	top : 180px ;
	height : 600px ;
	width : 400px ;
}
.presentation h3{
	text-decoration: underline;
	margin-left: 30px;
	font-size: 200%;
	margin-top: 40px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 26px;
	letter-spacing: 4px;
	word-spacing: 0.2px;
	color: #E6677C;
	font-weight: 700;
	font-variant: small-caps;
	transition: .7s;
}
.presentation h4{
	text-decoration: underline;
	margin-left: 30px;
	font-size: 200%;
	margin-top: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 26px;
	letter-spacing: 4px;
	word-spacing: 0.2px;
	color: #8095ff;
	font-weight: 700;
	font-variant: small-caps;
	transition: .7s;
}

.texteheader p{
font-family: 'Roboto', sans-serif;
	font-size: 15px;
	letter-spacing: 2px;
	word-spacing: 0.2px;
	background-color: #8DB6D9;
	border: 2px solid #A6874E;
	text-align: center;
	margin-left: 30px;
	margin-top: 20px;
	padding: 10px;
}
.texteheader p a{
	color: black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.menu{
	height: 5em;
  line-height: 5em;
  white-space: nowrap;
}
.logohome{
	width: 80px;
	height: 80px;
	margin-left: 20px;
	margin-top: 20px;
	transition: .7s;
	filter: grayscale(100%) sepia(100%) brightness(0%) invert(100%);
}
.logohome:hover{
	filter: grayscale(100%) brightness(200%) hue-rotate(360deg) contrast(1000%) invert(100%);
}
nav{
	display: flex;
	justify-content: space-between;
}
nav ul{
	margin-top: 20px;
	display: flex;
	text-align: center;
}

nav ul li {
	text-align: center;
	height: auto;
}
nav ul li a {
	padding: 15px;
	text-decoration: none;
	color: #FFF;
}

nav ul li a:hover{
	color: #000;
}

.dropdown-content {
	text-align: center;
  display: none;
  background-color: #048ABF;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
  z-index: 1;
}

.dropdown-content a {
	font-size: 0.7em;
	line-height: 0.9em;
	width: 110px;
	text-align: center;
	padding: 10px 5px;
	height: auto;
	display: block;
  color: #FFF;
  text-decoration: none;
}

.dropdown-content a:hover {
	color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.Bonjour p{
	color: #ddc798;
	padding-bottom: 5px;
}
.imgprofil{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-top: 1.5em;
}
.imgprofil:hover{
	opacity: .7;
}
.top{
	z-index: 3;
	background-color:#048ABF;
	width: 100%;
}
.hello{
	padding-left: 20px;
}

/* menu deroulant */
.boutonmenuprincipal {
background-color:black;
color: #ddc798;
border: none;
cursor: pointer;
padding:5px;
margin-top:5px;
font-size: 1em;
}
.boutonmenuprincipal:hover {
background-color: silver;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-child {
display: none;
background-color: black;
min-width: 50px;
}
.dropdown-child a {
color: white;
padding: 20px;
text-decoration: none;
display: block;
}
.dropdown:hover .dropdown-child {
display: block;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
	margin-bottom: 40px;
}

form input{
  margin: 20px 10px;
  width: 300px;
  height: 50px;
  font-size: 100%;
  border-radius: 10px;
	outline: none;
	transition: .7s;
}
form input::placeholder{
  padding-left: 30px;
}

form input:hover{
	text-shadow: 10px 2px 4px rgba(0, 0, 0, 1);
	color: #333;

}
form input:focus:hover{
text-shadow: none;

}

form textarea{
	border-radius: 10px;
	border: 3px solid black;
	margin-bottom: 30px;
	resize: none;
	text-align:center;
	outline: none;
	transition: .7s;
}
form textarea:hover{
	text-shadow: 10px 2px 4px rgba(0, 0, 0, 1);
	color: #333;

}
form textarea:focus:hover{
text-shadow: none;

}

form input[type="submit"]{
 cursor:pointer;
 background-color: #333;
 color: #fff;
 text-transform: uppercase;
}
form input[type="submit"]:hover{
  background-color: #FFF;
  color: #000;
  border: 5px solid #000;
}
/* question */
section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
	padding-top: 100px;
}
 .ask1 {
	text-align: center;
	text-decoration: none;
  background-color: #333;
  color: #fff;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 5px;
}
.ask1:hover{
	background-color: #FFF;
  border: 4px solid #000;
	border-radius: 8px;
	text-shadow: 10px 2px 4px rgba(0, 0, 0, 1);
	color: #333;
}
.ask-attente h2{
	width: 110px;
	background-color:#AEF1FC;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-bottom: 10px;
	text-decoration: underline;
  text-transform: uppercase;
	border: 2px solid #040E2E;
	border-radius: 8px;
}
.ask-attente h2:hover{
	background-color: #FFF;
	border: 4px solid #000;
	border-radius: 8px;
	text-shadow: 10px 2px 4px rgba(0, 0, 0, 1);
	color: #333;
	border-radius: 8px;
}
.ask-update h2{
	width: 70px;
	background-color:#AEF1FC;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
	border: 2px solid #040E2E;
	border-radius: 8px;
}
.ask-update h2:hover{
	background-color: #FFF;
	border: 4px solid #000;
	border-radius: 8px;
	text-shadow: 10px 2px 4px rgba(0, 0, 0, 1);
	color: #333;
}
.ask-update h3{
	font-size: 0.8	em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
}
.redirect{
	text-align: center;
	border-radius: 10px;
	padding: 15Px 10px;
	cursor:pointer;
	background-color: #333;
	color: #fff;
	text-transform:capitalize;
	text-decoration: none;
	transition: .7s;
}

.redirect a:hover{
	background-color: #FFF;
	text-shadow: 10px 2px 4px rgba(0, 0, 0, 1);
	color: #000;
  border: 5px solid #000;
}
/* mot de passe */
.mdp{
	text-align: center;
	margin-top: 10px;
}
.mdp a{
	text-align: center;
	border-radius: 10px;
	padding: 15Px 10px;
	cursor:pointer;
	background-color: #333;
	color: #fff;
	text-transform:capitalize;
	text-decoration: none;
	transition: .7s;
}
.mdp a:hover{
	background-color: #FFF;
	text-shadow: 10px 2px 4px rgba(0, 0, 0, 1);
	color: #000;
  border: 5px solid #000;
}
.newmdp{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.copier{
	margin-bottom: 20px;
	text-align: center;
	font-size: 200%;
	margin-top: 40px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 26px;
	letter-spacing: 4px;
	word-spacing: 0.2px;
	color: #666;
	font-weight: 700;
	font-variant: small-caps;
	transition: .7s;
}
.copier:hover{
	color: #000;
	text-shadow: 4px 4px 7px rgba(0, 0, 0, 1);
}
.tokencopié{
	border: 3px solid black;
	margin-bottom: 30px;
	resize: none;
	height: 28px;
	width: 1000px;
	text-align:center;
}
/* profil */
.avatarimg{
	border-radius: 50%;
}
.label-file {
    cursor: pointer;
    font-weight: bold;
}
.label-file:hover {
}

.input-file {
    display: none;
}
label{
	text-align: center;
	font-size: 200%;
	margin-top: 40px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 26px;
	letter-spacing: 4px;
	word-spacing: 0.2px;
	color: #666;
	font-weight: 700;
	font-variant: small-caps;
	transition: .7s;
}
label:hover{
	color: #000;
	text-shadow: 4px 4px 7px rgba(0, 0, 0, 1);
}

<<<<<<< HEAD
section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
=======

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
/* mention legale  */
h1{
	font-size: 2em;
	text-align: center;
	margin-top: 40px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 26px;
	letter-spacing: 4px;
	word-spacing: 0.2px;
	color: #black;
	font-weight: 700;
	font-variant: small-caps;
	transition: .7s;
	text-decoration: underline;
}
h1:hover{
	color: #000;
	text-shadow: 4px 4px 7px rgba(0, 0, 0, 1);
}
h3{
	font-size: 1.3em;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-decoration: underline;
	padding: 10px 0px;
}
.legale p{
padding: 5px 0px;
font-size: 1.2em;
margin-top: 5px;
}
/* general-vac */
.gen-vac h4{
	text-decoration: underline;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 7px 0px;
}
.gen-vac p{
	margin-top: 52x;
}
/* footer */
.footer-world {
  background-color: #024873;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-world .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-world p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-world p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-world .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-world .footer-links .lien1:before {
  content: none;
}

.footer-world .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-world .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #3338;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
	border-radius: 50%;
  transition:all .25s;
}
.footer-world .footer-right a img{
	width: 30px;
	height: 30px;
	margin-top: 2px;
}
.footer-world .footer-right a img:hover{
	filter: brightness(.3);
}
.footer-world .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-world p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-world .footer-left, .footer-world .footer-right {
    text-align: center;
  }
  .footer-world .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-world .footer-left p.footer-links {
    line-height: 1.8;
  }
}
